@media(max-width: 1280px) {
    .home {
        flex-direction: column;
        padding: 50px 0;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        text-align: center;
        
    }

    .home .informacoes {        
        max-width: 100%;
        margin: 0;        
    }
    
    .home .informacoes p {
        padding: 30px 0;
    }

    .bg-principal {
        margin: 0 auto;
        height: 100vh;
        justify-content: center;
        align-items: center;
        width: 465px;
    }

    .cards {
        margin-top: 0;
   }

    .card1 img, .card2 img, .card3 img {
        background-color: #fd288d;
        border-radius: 100%;
        width: 150px;
        padding: 15px;
        margin-bottom: 20px;
        
    }

    .card1-descricao, .card2-descricao, .card3-descricao {
        border: 1px solid #ffffff;
        border-radius: 10px;
        padding: 15px 30px;
        text-align: center;
    }

    .cards p {
        font-size: 14px;
    }

    .img-sec5 img {
        width: 320px;
        height: auto;
    }

    .card-dicas {
        padding: 40px;
        height: 420px;
    }
  
    .depoimentos {
        position: relative;
        height: auto;
    }

    .depoimentos h2 {
        position: absolute;
        margin: 70px;
        top: 0;
    }

    .cards-depoimentos {
        gap: 30px;
        margin-top: 160px ;
        flex-wrap: wrap;
        flex-direction: column;

    }   

}

@media (max-width: 955px) {
    
    .card1 img, .card2 img, .card3 img {
        padding: 20px;
        width: 140px;
    }

    .card1-descricao, .card2-descricao, .card3-descricao {
        padding: 15px 20px;
    }
    
    .cards h3 {
        font-size: 16px;
    }
    
    .cards p {
    font-size: 12px;
    }    
}

@media (max-width: 870px) {
    .logo a {
        padding: 0 50px 0 0;
    }

    .cabecalho .menu ul {
        display: none;
    }

    .menu-icon {
        display: block;
        width: 60px; 
        position: relative;
        right: 10%;
             
    }

    .menu-icon button {
        position: fixed;
        z-index: 1;
        top: 0;
        padding: 20px 15px 0 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }  
   
    
    .mobile-menu ul {        
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem; 
        gap: 10px;  
        background-color: #fd288bda; 
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        padding: 20px 30px; 
        position: fixed;
        z-index: 1;
        top: 10vh;
        right: 0; 
        margin-top: 10px;
    }

    .nav-item {
        color: #ffffff;
        font-weight: 800;
    }
    
    .mobile-menu ul a {
        font-family: 'DM sans', sans-serif;
        font-size: 18px;              
    }

    
    .open {
        display: block;
    }

    .sobre-txt p {
        font-size: 14px;
    }

    .recursos {
        height: auto;
    }

    .recursos .cards{
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: auto;
        padding-bottom: 50px;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }
   
    .dicas {        
        height: auto;
        flex-direction: column;        
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-bottom: 100px;
    }

    .img-sec5 {
        margin: 0;
        padding: 30px 0;
    }

    .img-sec5 img {
        width: 320px;
        display: flex; 
        position: relative;
       
    }

    .card-dicas {
        padding: 20px;
        height: 420px;
        margin: 0;
    }

    .btn-dicas button {
        margin-top: 3   0px;
    }



}
